body {
  font-weight: 300 !important;
  font-family: Lato;
  font-size: 16px !important;
}

header, main, footer {
  padding-left: 240px;
}

.left-menu {
  max-width: 240px !important;
}

.custom-logo {
  margin-left: 30px;
}

.logo-icon {
  height: 32px;
  width: auto;
}

.content { padding: 30px;}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.custom_table tr{
  border-bottom: none;
}

.custom-logo {
  margin-left: 30px;
}

.logo-icon {
  height: 64px;
  width: auto;
}

.preloader-wrapper-tiny {
  height: 20px !important;
  width: 20px !important;
}

.page-title {
  font-weight: 300;
  font-size: 18px;
  margin-left: 20px;
}

/**
Materialize overrides
 */
tr td {
  padding: 2px 2px !important;
}

.regular-td-padding{
  padding: 15px 15px !important;
}

.progress {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.line-graph { 
  height: 400px; 
}


.logo-text { 
  font-size: 32px; 
  padding: 20px;
}

.dashboard-summary { 
  padding-top: 50px !important;
}

.standard-custom-header { 
  padding: 10px !important;
}

h1 h2 h3 h4 h5 h6 { 
  font-family: 'Kanit' !important;
  font-weight: 500;
}