body {
  font-weight: 400;;
}
header, main, footer {
  padding-left: 240px;
}

.left-menu {
  max-width: 240px !important;
}

.custom-logo {
  margin-left: 30px;
}

.logo-icon {
  height: 32px;
  width: auto;
}

.content { padding: 20px;}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.custom-logo {
  margin-left: 30px;
}

.logo-icon {
  height: 64px;
  width: auto;
}

.preloader-wrapper-tiny {
  height: 20px !important;
  width: 20px !important;
}

/**
Materialize overrides
 */
tr td {
  padding: 2px 2px !important;
}
